.camping_h1 {
    color: white;
    background-color: #aa9986;
    text-align: center;
    font-family: 'InkLipquid';
    font-size: 32px;
}
.camping_p1 {
   padding: 5px;
    text-align: center;
    font-family: 'InkLipquid';
    font-size: 24px;
    font-weight: bold;
}
@font-face {
    font-family: 'InkLipquid';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/InkLipquid.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}