.Reset_password {
    text-align: center;
}

.Reset_password_area {
    box-sizing: border-box;
    margin-top: 40px;
    margin-bottom: 20px;
}



.reset_password_current,.reset_password_new,.reset_password_confirm {
    display: flex;
    align-items: center;
    margin: auto;
    margin-bottom: 15px;
    width: 250px;
    padding: 0 10px;
    border-radius: 8px;
    background-color: #fff;
    border: 1px solid #19191959;
    height: 32px;
    font-size: 12px;
    font-weight: 500;
}




.reset_password_but {
    background-color: #95826e;
    color: #fff;
    border: none;
    width: 180px;
    height: 50px;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.9px;
    margin-bottom: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.reset_password_msg {
    font-size: 12px;
    color: #191919;
    position: relative;
    font-weight: 700;
}

.error_message {
    font-size: 11px;
    color: red; 
}