* {
    padding: 0;
    margin: 0;
    text-decoration: 0;
    list-style : none;
}

body .main-body {
    width: 1280px;
    margin: 0 auto;
    max-width: 100%;   
}

.tour_top img {
    display: flex;
    width: 100%;
    height: 950px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.tour h1{
    font-weight: 500;
    text-align: center;
    font-size: 35px;
    padding-top: 150px;
}

.tour_location {
    padding: 200px 300px;
}

.tour1 {
    display: flex;
    align-items: center;
}

.tour1 img {
    width: 780px;
    height: 500px;
}

.tour_text {
    padding-left: 300px;
}
.tour1 h1 {
    font-size: 37px;
    font-weight: bolder;
    margin-bottom: 20px;
    justify-content: center;
}

.tour_text p {
    line-height: 25px;
}

.tour2 {
    display: flex;
    align-items: center;
    padding: 150px 0;
}

.tour2 img {
    width: 710px;
    height: 410px;
    overflow: auto;
    float: right;
}

.tour_text2 {
    padding-right: 300px;
    padding-left: 100px;
}

.tour_text2 p {
    line-height: 25px;
}

.tour2 h1 {
    font-size: 37px;
    font-weight: bolder;
    margin-bottom: 20px;
    justify-content: center;
}

.tour3 {
    display: flex;
    align-items: center;
}

.tour3 img {
    width: 780px;
    height: 500px;
}

.tour_text3 {
    padding-left: 300px;
}
.tour3 h1 {
    font-size: 37px;
    font-weight: bolder;
    margin-bottom: 20px;
    justify-content: center;
}

.tour_text3 p {
    line-height: 25px;
}

.tour4 {
    display: flex;
    align-items: center;
    padding-top: 150px;
}

.tour4 img {
    width: 780px;
    height: 500px;
    overflow: auto;
    float: right;
}

.tour_text4 {
    padding-right: 300px;
    padding-left: 100px;
}

.tour_text4 p {
    line-height: 25px;
}
.tour4 h1 {
    font-size: 37px;
    font-weight: bolder;
    margin-bottom: 20px;
    justify-content: center;
}

.tour_address p{
    font-size:15px;
    color: #666666;
    padding-top:20px;
}